.search {
  -webkit-appearance: none;
  outline: none;
  width: 200px;
  line-height: 20px;
  margin-bottom: 30px;
  font-size: 28px;
  border-color: lightgray;
  border-style: solid;
  text-align: center;
  border-radius: 5px;
}
